# Godot 4+ specific ignores
.godot/
r_tex/target/
r_erosion/target/
*.import
data/tiles
data/raw
r_erosion/unselected_data
r_erosion/data
tile_tex

r_erosion/texture.png
addons/dynamic_day_night_cycles/sun_colors_new.png
r_erosion/discharge_3_12.png
